@charset "UTF-8";
/*Mixin icône coeur*/
/* mixin animation bouton "Nouveau" */
/* mixin animations checking restaurants */
@keyframes checked {
  from {
    width: 0;
  }
  to {
    width: 80px;
  }
}
@keyframes spinning {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
/* mixin des propriétés du footer */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  position: absolute;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

.btn-large {
  padding: 15px;
  background-image: linear-gradient(160deg, #ff79da 0%, #9356dc 100%);
  color: #f6f6f6;
  border: none;
  border-radius: 25px;
  box-shadow: 0 3px 2px #d3d3d3;
}
.btn-large:hover {
  background-image: linear-gradient(160deg, #ff88de 0%, #9b63df 100%);
  box-shadow: 0 3px 2px #adadad;
}

.btn-larger {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 25px;
  padding: 25px;
  margin: 10px 0px;
  align-items: center;
  border: none;
  box-shadow: 0 3px 2px #d3d3d3;
}
.btn-larger i {
  padding: 0px 15px;
  font-size: large;
  color: gray;
}
.btn-larger:hover {
  background-color: rgba(147, 86, 220, 0.15);
}
.btn-larger:hover i {
  color: #9356dc;
}

.btn-new {
  background-color: #99e2d0;
  color: green;
  border: none;
  border-radius: 2px;
  padding: 5px;
  margin-top: 10px;
  z-index: 999;
  align-self: flex-end;
  margin-right: 5%;
}
.btn-new:hover {
  animation: btn-shine 1000ms;
}
@keyframes btn-shine { /* fait grandir et briller le bouton "Nouveau" */
  from {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.25);
    transform: scale(1.1);
  }
  to {
    filter: brightness(1);
    transform: scale(1);
  }
}

/* media querry pour mobiles avec écran plus large */
@media screen and (min-width: 400px) {
  .btn-new {
    right: 20%;
  }
}
#page-content { /* page principale, invisible pendant le loading spinner */
  visibility: hidden;
  animation: page-in 0.25s forwards; /* utilisation de "forwards" pour "fixer" l'animation une fois terminée */
  animation-delay: 5500ms; /* délai d'apparition pour laisser passer l'animation de chargement */
}

.spin-container {
  position: relative;
  text-align: center;
  top: 250px;
  animation: spin-out 5.5s forwards; /* durée initiale de 3 secondes, portée à 5.5 secondes pour un meilleur rendu | réutilisation de "forwards" */
}
.spin-container .spin { /* cercle central */
  border: 3px solid #99e2d0;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 1.5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
.spin-container #loader2 { /* cercle intermédiaire */
  border: 3px solid #ff79da;
  width: 220px;
  height: 220px;
  position: relative;
  top: -211px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 1.5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
.spin-container #loader3 { /* cercle extérieur */
  border: 3px solid #9356dc;
  width: 240px;
  height: 240px;
  position: relative;
  top: -441px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 1.5s cubic-bezier(0.26, 1.36, 0.74, -0.29) forwards;
}
.spin-container #text {
  color: black;
  font-family: "Shrikhand", sans-serif;
  font-size: 25px;
  position: relative;
  top: -572px;
}
@keyframes rotate { /* rotation sens horaire */
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate2 { /* rotation sens anti-horaire */
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

@keyframes spin-out { /* Fait disparaitre le spin-loader après exécution de l'animation */
  from {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: 690px;
  }
  to {
    opacity: 0;
    visibility: hidden;
    height: 0px;
    z-index: -5;
    margin: 0;
  }
}
@keyframes page-in { /* Fait apparaitre la page après exécution de l'animation du spinner */
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
    overflow: hidden;
  }
}
.beginning {
  visibility: hidden;
  opacity: 0;
  animation: rest-appears 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.main {
  visibility: hidden;
  opacity: 0;
  animation: rest-appears 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.end {
  visibility: hidden;
  opacity: 0;
  animation: rest-appears 1.5s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
}

@keyframes rest-appears {
  0% {
    opacity: 0;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/* place de layout si besoin */
/* header */
header {
  padding-top: 20px;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  padding: 20px 0 20px 0;
  text-align: left;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #eaeaea;
  box-shadow: inset 0 3px 5px #d3d3d3;
}
.location a {
  text-decoration: none;
  align-self: center;
  color: black;
}
.location a abbr {
  padding: 10px 10px;
  text-decoration: none;
}

.section-title {
  margin-left: 10%;
}

/* section 1 */
#presentation {
  text-align: center;
  padding: 0 30px 25px 30px;
  background-color: #f6f6f6;
}
#presentation h2 {
  text-align: center;
}
#presentation p {
  padding-bottom: 10px;
}

/* section 2 */
#fonctionnement {
  margin: 20px 0;
}

.menu-element {
  display: flex;
  justify-content: center;
}
.menu-element .number {
  background-color: #9356dc;
  color: #f6f6f6;
  padding: 5px 10px;
  align-self: center;
  border-radius: 25px;
  position: relative;
  left: 5%;
}
.menu-element .fonct {
  font-size: medium;
  text-align: left;
}

/* section 3 */
#restaurants {
  background-color: #f6f6f6;
}
#restaurants .rest-list {
  display: flex;
  flex-flow: column;
  align-items: center;
}
#restaurants .rest-list .thumbnail {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  justify-content: space-between;
  border: 2px solid #d3d3d3;
  border-radius: 25px;
  width: 300px;
  height: 260px;
  margin: 25px 50px;
}
#restaurants .rest-list .thumbnail .thumb-link {
  color: black;
  text-decoration: none;
  height: 145px;
}
#restaurants .rest-list .thumbnail .thumb-link #enchant-img {
  max-width: 300px;
  position: relative;
  bottom: 140px;
}
#restaurants .rest-list .thumbnail .thumb-link .thumb-img {
  max-width: 300px;
  position: relative;
}
#restaurants .rest-list .thumbnail .thumb-link #palet {
  bottom: 50px;
}
#restaurants .rest-list .thumbnail figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f6f6;
  z-index: 9;
  /*hover qui déclenche les deux animations pour les icônes*/
  /*Keyframe principale, fait apparaître le coeur sur 3.5 secondes avec un battement*/
  /* Keyframe qui fait disparaitre le coeur vide en 1.5 secondes*/
}
#restaurants .rest-list .thumbnail figcaption .fa-solid {
  display: none;
  padding: 10px 0px;
  background: -webkit-linear-gradient(90deg, #ff79da 0%, #9356dc 100%); /* propriété pour colorer avec un gradient linéaire */
  -webkit-background-clip: text; /* propriété pour limiter le changement de couleur au simple coeur */
  -webkit-text-fill-color: transparent;
}
#restaurants .rest-list .thumbnail figcaption .fa-regular {
  display: block;
  color: #d3d3d3;
  padding: 10px 0px;
}
#restaurants .rest-list .thumbnail figcaption .icon-heart {
  position: relative;
  width: 25px;
  right: 2%;
}
#restaurants .rest-list .thumbnail figcaption .icon-heart:hover > .fa-regular { /* coeur vide qui disparait avec le "hover" */
  animation: heart-vanish 1500ms;
  display: none;
}
#restaurants .rest-list .thumbnail figcaption .icon-heart:hover > .fa-solid { /* coeur coloré qui apparait avec le hover */
  display: block;
  animation: heart-color 3500ms;
}
@keyframes heart-color {
  from {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
    transform: scale(1);
  } /* "scale" à utiliser avec "transform" pour validation W3C */
  85% {
    opacity: 1;
    transform: scale(1.25);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 1;
  }
}
@keyframes heart-vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#restaurants .rest-list .thumbnail figcaption .thumb-txt {
  padding: 10px 0px;
}
#restaurants .rest-list .thumbnail figcaption .thumb-txt h3 {
  margin: 5px 15px;
}
#restaurants .rest-list .thumbnail figcaption .thumb-txt p {
  margin: 5px 15px;
  text-align: start;
}

/*  footer*/
footer {
  background-color: #332f2f;
  color: #f6f6f6;
  display: flex;
  flex-flow: column;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  text-align: start;
  padding-left: 40px;
  margin-bottom: 0;
  font-weight: normal;
}
footer ul {
  margin-left: 40px;
}
footer ul li {
  display: flex;
  list-style: none;
  align-items: center;
  height: 25px;
}
footer ul li i {
  padding-right: 10px;
}
footer ul li .footer-txt {
  margin-left: 5px;
}
footer ul li a {
  text-decoration: none;
  color: #f6f6f6;
}

/* media querries pour tablettes format portrait et supérieur*/
@media screen and (min-width: 750px) {
  footer {
    height: 165px;
  }
  footer h3 {
    text-align: center;
    font-size: x-large;
    padding: 20px 0;
  }
  footer ul {
    margin-left: 0;
    display: flex;
    justify-content: space-around;
    padding-bottom: 25px;
  }
}
/* media querries */
/* media querries pour tablettes */
@media screen and (min-width: 750px) {
  /* section 2 */
  .section2-menu {
    display: flex;
    justify-content: center;
  }
  .section2-menu .menu-element {
    margin: 0 5px;
  }
  .section2-menu .menu-element p {
    left: 8%;
  }
  .section2-menu .menu-element .btn-larger {
    padding: 15px;
  }
  .section2-menu .menu-element .btn-larger i {
    padding: 0 10px;
  }
  /* section 3 */
  .rest-row {
    display: flex;
  }
}
/* media querries tablettes format paysage */
@media screen and (min-width: 1000px) {
  .menu-element {
    margin: 0 25px;
  }
  .section-title {
    text-align: center;
    margin-left: 0;
  }
  .thumbnail {
    margin: 25px 60px;
  }
}
/* media querries pour desktop */
@media screen and (min-width: 1279px) {
  .section2-menu {
    justify-content: space-evenly;
  }
  .section2-menu .menu-element {
    width: 350px;
  }
  .section2-menu .menu-element .btn-larger {
    padding: 20px 40px 20px 30px;
  }
  .section2-menu .menu-element .btn-larger i {
    padding-right: 20px;
    font-size: x-large;
  }
  .section2-menu .menu-element .number {
    left: 5%;
  }
  .section2-menu .menu-element .fonct {
    font-size: large;
  }
  #restaurants .rest-list {
    flex-flow: row;
    justify-content: center;
  }
  #restaurants .thumbnail {
    margin: 25px 5px;
  }
}
@media screen and (min-width: 1600px) {
  .thumbnail {
    margin: 25px 55px;
  }
}
.rest-title { /* généralités, les éléments avec animation sont appelés depuis le fichier _mixin.scss */
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.rest-title h1 {
  margin: 10px 0px;
  position: relative;
  right: 5%;
}
.rest-title a {
  text-decoration: none;
  color: black;
  padding-left: 5%;
  align-self: center;
  position: relative;
  right: 15%;
}

.rest-listing {
  overflow: hidden;
}
.rest-listing .rest-pic {
  max-height: 230px;
}
.rest-listing .rest-pic .thumb-img {
  position: relative;
  width: 100%;
  height: 280px;
}
.rest-listing .rest-pic #enchant-pic {
  height: auto;
  top: -100px;
}
.rest-listing .menu-wrapper {
  background-color: #eaeaea;
  width: 100%;
  position: relative;
  padding: 20px 0 40px 0;
  border-radius: 25px 25px 0px 0px;
}
.rest-listing .menu-wrapper .rest-title-wrapper .icon-heart .fa-regular {
  color: black;
}

.rest-title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0 20px;
  align-items: center;
  /*hover qui déclenche les deux animations pour les icônes*/
  /*Keyframe principale, fait apparaître le coeur sur 3.5 secondes avec un battement*/
  /* Keyframe qui fait disparaitre le coeur vide en 1.5 secondes*/
  /* appelle la mixin gérant le coeur dans le titre de la page */
}
.rest-title-wrapper .rest-title {
  font-family: "Shrikhand", sans-serif;
  font-size: xx-large;
  padding-top: 10px;
}
.rest-title-wrapper .fa-solid {
  display: none;
  padding: 10px 0px;
  background: -webkit-linear-gradient(90deg, #ff79da 0%, #9356dc 100%); /* propriété pour colorer avec un gradient linéaire */
  -webkit-background-clip: text; /* propriété pour limiter le changement de couleur au simple coeur */
  -webkit-text-fill-color: transparent;
}
.rest-title-wrapper .fa-regular {
  display: block;
  color: #d3d3d3;
  padding: 10px 0px;
}
.rest-title-wrapper .icon-heart {
  position: relative;
  width: 25px;
  right: 2%;
}
.rest-title-wrapper .icon-heart:hover > .fa-regular { /* coeur vide qui disparait avec le "hover" */
  animation: heart-vanish 1500ms;
  display: none;
}
.rest-title-wrapper .icon-heart:hover > .fa-solid { /* coeur coloré qui apparait avec le hover */
  display: block;
  animation: heart-color 3500ms;
}
@keyframes heart-color {
  from {
    opacity: 0.1;
  }
  75% {
    opacity: 1;
    transform: scale(1);
  } /* "scale" à utiliser avec "transform" pour validation W3C */
  85% {
    opacity: 1;
    transform: scale(1.25);
  }
  95% {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 1;
  }
}
@keyframes heart-vanish {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.menu-wrapper {
  padding-bottom: 20px;
}
.menu-wrapper .menu {
  display: flex;
  flex-flow: column;
  padding-bottom: 20px;
}
.menu-wrapper .menu .menu-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 20px;
}
.menu-wrapper .menu .menu-container h4 {
  align-self: flex-start;
  padding-left: 20px;
  font-weight: normal;
  margin: 10px 0;
  padding-bottom: 5px;
}
.menu-wrapper .menu .menu-container h4 .underline {
  border-bottom: 2px solid #99e2d0;
}
.menu-wrapper .menu .menu-container .fa-regular {
  color: black;
}
.menu-wrapper .menu .menu-container .menu-entry {
  display: flex;
  flex-flow: row;
  background-color: white;
  width: 90%;
  max-height: 60px;
  border-radius: 10px;
  justify-content: space-between;
  margin: 10px 0px;
}
.menu-wrapper .menu .menu-container .menu-entry p {
  padding-right: 10px;
}
.menu-wrapper .menu .menu-container .menu-entry .menu-desc {
  width: 75%;
  margin-left: 10px;
  overflow: hidden;
}
.menu-wrapper .menu .menu-container .menu-entry .menu-desc h5 {
  margin: 10px 0px;
  font-size: medium;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-wrapper .menu .menu-container .menu-entry .menu-desc .recipe {
  margin: 10px 0px 12px 0;
  text-align: left;
  font-size: smaller;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0;
}
.menu-wrapper .menu .menu-container .menu-entry .price-check {
  display: none;
}
.menu-wrapper .menu .menu-container .menu-entry:hover > .price-check {
  display: initial;
  justify-self: flex-end;
  max-height: 60px;
  background-color: #99e2d0;
  width: 80px;
  border-radius: 0px 10px 10px 0px;
  padding: 21px 10px 21px 0;
  align-self: center;
  animation: checked 1s;
}
.menu-wrapper .menu .menu-container .menu-entry:hover > .price-check .fa-solid {
  animation: spinning 1000ms;
}
.menu-wrapper .menu .menu-container .menu-entry:hover > .price-check .fa-solid::before {
  background-color: white;
  color: #99e2d0;
  border-radius: 25px;
  font-size: smaller;
  padding: 2px;
}
.menu-wrapper .menu .menu-container .menu-entry .price {
  text-align: right;
  align-self: flex-end;
  margin-bottom: 10px;
  padding: 35px 10px 0 10px;
  font-size: smaller;
  font-weight: bold;
}

/* media querries pour tablettes*/
@media screen and (min-width: 750px) {
  .rest-listing .rest-pic {
    max-height: 420px;
  }
  .rest-listing .rest-pic .thumb-img {
    height: auto;
  }
  .rest-listing .rest-pic #enchant-pic {
    height: auto;
    top: -300px;
  }
  .menu-wrapper .menu {
    flex-flow: row;
    justify-content: space-evenly;
    margin: 10px 20px;
  }
  .menu-wrapper .menu .menu-container {
    width: 35%;
  }
  .menu-wrapper .menu .menu-container .menu-entry {
    margin: 10px 5px;
    width: 250px;
  }
}
/* media querries pour tablettes format paysage */
@media screen and (min-width: 1000px) {
  .rest-title-wrapper {
    margin: 20px 25px;
  }
  .menu-wrapper .menu .menu-container .menu-entry {
    width: 90%;
  }
}
/* media querries pour desktop */
@media screen and (min-width: 1279px) {
  .rest-listing .rest-pic {
    max-height: 500px;
  }
  .rest-listing .rest-pic .thumb-img {
    top: -350px;
  }
  .rest-listing .rest-pic #enchant-pic {
    height: auto;
    top: -900px;
  }
}

/*# sourceMappingURL=style.css.map */
