.btn-large{
    padding: 15px;
    background-image: linear-gradient(160deg, $color-secondary 0%, $color-primary 100%);
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0 3px 2px $color-shadows;
    &:hover{
        background-image: linear-gradient(160deg, lighten($color-secondary, 3%) 0%, lighten($color-primary, 3%) 100%);
        box-shadow: 0 3px 2px darken(lightgrey, 15%);
    }
}