.french-title{
    display: flex;
    h1{
        padding: 0 0 10px 15%;
        margin-top: 20px;
    }
    a{
        text-decoration: none;
        color: black;
        padding-left: 10%;
        align-self: center;
    }
}

.icon-heart{
    @include heart-icon;
}