h1{
    margin-bottom: 10px;
}

h2{
    margin-top: 0;
    padding: 20px 0 25px 0;
    text-align: left;
}


.location{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-light;
    box-shadow: inset 0 3px 5px $color-shadows;
    p{
        padding: 0px 10px;
    }
}

.section-title{
    margin-left: 10%;
}

/* section 1 */

#presentation{
    text-align: center;
    padding: 0 30px 25px 30px;
    background-color: $color-lighter;
    h2{
        text-align: center;
    }
    
}

/* section 2 */

#fonctionnement{
    margin: 25px 0;
    
}

.menu-element{
    display: flex;
    justify-content: center;
    p{
        background-color: $color-primary;
        color: $color-lighter;
        padding: 5px 10px;
        align-self: center;
        border-radius: 25px;
        position: relative;
        left: 5%;
    }
}

/* section 3 */

#restaurants{
    background-color: $color-lighter;
    .rest-list{
        display: flex;
        flex-flow: column;
        align-items: center;
        @include thumbnail;
        .label{
            background-color: $color-lighter;
            z-index: 999;
        }
    }
        
    
}

/*  footer*/

@include footer;

/* media querries */

@media screen and (min-width: 750px){
    .section-title{
        margin-left: 5%;
    }

    /* section 2 */
    .section2-menu{
        display: flex;
        justify-content: center;
        p{
            left: 8%;
        }
        .btn-larger{
            padding: 15px;
            i{
                padding: 0 10px;
            }
        }
    }

    /* section 3 */
    .rest-row{
        display: flex;

    }
}